<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #485e52">
    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="nav nav-pills flex-column flex-sm-row sticky-top justify-content-around">

            <li class="nav-item">
                <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/room">Презентации</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/lector">Лектору</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/admin">Администратору</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user"
                   href="/logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>

<br/>

<h1 class="text-center">Редактор презентаций (лектор)</h1>

<br/>
<br/>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Место проведения</th>
        <th scope="col">Время</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="presentation : ${presentations}">
        <tr>
            <th scope="row" th:text="${presentation.id}"></th>
            <td th:text="${presentation.title}"></td>
            <td th:text="${presentation.description}"></td>
            <td th:text="${presentation.presentationRoom.location}"></td>
            <td th:text="${presentation.getFormatedPresentationDateTime()}"></td>
            <td>

            </td>
            <td>
                <form th:action="@{lector/deletePresentation}"  method="post">
                    <input type="hidden" name="id" th:value="${presentation.id}"/>
                    <input type="submit" value="Delete" class="btn btn-danger" />

                </form>
            </td>
            <td>
                <a class="btn btn-warning" th:href="@{'lector/' + ${presentation.id}}">
                    Update
                </a>
            </td>
        </tr>
    </th:block>

    </tbody>
</table>
<br/>

<br/>

<br/><br/>

<div class="accordion" id="accordionExample">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b style="font-size: 20px; color: black;" >Добавить презентацию</b>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

            <div class="card mb-3" >
                <br/>
                <form class="col-4" action="#" th:action="@{/lector/addPresentation}" th:object="${presentation}" method="post">
                    <input type="hidden" th:value="${presentation.id}" name="Id" />
                    <div class="form-group">
                        <label for="inputName">Тема доклада</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Title" th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label for="inputDescr">Описание</label>
                        <input type="text" class="form-control" id="inputDescr" placeholder="Description" th:field="*{description}">
                    </div>
                    <div class="form-group">
                        <label for="inputPresTime">Время проведения</label>
                        <input type="datetime-local" class="form-control" id="inputPresTime" placeholder="Time" th:field="*{presentationTime}">
                    </div>
                    <div class="form-group">
                        <label for="inputRoom">Комната</label>
                        <select class="form-control" id="inputRoom" th:field="*{presentationRoom.id}">
                            <th:block th:each="room : ${rooms}">
                                <option th:text="${room.location}" th:value="${room.id}"></option>
                            </th:block>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
                <br/>
            </div>

        </div>
    </div>
</div>

<br/>
<br/>
<br/>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>